<div class="detail-section">
    <div class="container-fluid" *ngIf="product$ | async as product">
        <img
            [src]="hrk + product.imageUrl"
            class="detail-img"
            [alt]="product.name"
        />
        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency: "CAD" }}</div>
        <button
            class="btn btn-primary btn-sm mt-1"
            (click)="addToCart(product)"
        >
            Add to Cart
        </button>
        <hr />
        <h4>Description</h4>
        <p>{{ product.description }}</p>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
