<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>
            <div *ngIf="orderHistory$ | async as orderHistory; else noOrder">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="10%">Order Date</th>
                    </tr>
                    <tr *ngFor="let order of orderHistory">
                        <td>{{ order.orderTrackingNumber }}</td>
                        <td>{{ order.totalPrice | currency | unit }}</td>
                        <td>{{ order.totalQuantity }}</td>
                        <td>{{ order.dateCreated | date: "medium" }}</td>
                    </tr>
                </table>
            </div>

            <ng-template #noOrder>
                <div class="alert alert-light col-md-12" role="alert">
                    <p>No orders found.</p>
                    <a
                        routerLink="/products"
                        class="btn btn-outline-primary btn-sm my-2"
                        >Browse Products</a
                    >
                </div></ng-template
            >
        </div>
    </div>
</div>
