<div class="form-header">
    <div *ngIf="oktaUser" class="login-status-user-info">
        Welcome back {{ oktaUser?.name }}
    </div>

    <button
        *ngIf="!isAuthenticated"
        routerLink="/login"
        class="au-btn-submit au-input"
    >
        Login
    </button>
    <button
        *ngIf="isAuthenticated"
        (click)="logout()"
        class="au-btn-submit au-input"
    >
        Logout
    </button>

    <button
        *ngIf="isAuthenticated"
        class="au-btn-submit au-input ml-1"
        routerLink="/profile"
    >
        Profile
    </button>
</div>
