<div class="main-content">
    <div class="mx-5">
        <div class="alert alert-light col-md-12" role="alert">
            <h2><a routerLink="/profile/order-history">Your Orders</a></h2>
            <p>Track, return or buy things again.</p>
        </div>

        <div class="alert alert-info col-md-12" role="alert">
            <h2>Members Special</h2>
            <p>Thank you for being a member.</p>
            <p>Member discounts are coming soon!</p>
        </div>
    </div>
</div>
