<div class="main-content">
    <div class="section-content section-content-p30">
        <h2>Category: {{ currentCategoryName }}</h2>
        <hr />
        <div class="container-fluid">
            <div
                *ngIf="
                    (products$ | async)?.length !== 0;
                    then productsList;
                    else noProductsList
                "
            ></div>
            <ng-template #productsList>
                <div class="row page-min-height-720p">
                    <div
                        *ngFor="let product of products$ | async"
                        class="col-md-3"
                    >
                        <div class="product-box">
                            <a [routerLink]="['/products', product.id]">
                                <img
                                    [src]="hrk + product.imageUrl"
                                    [alt]="product.name"
                                    class="img-responsive"
                                />
                                <h1>{{ product.name }}</h1></a
                            >
                            <div class="price">
                                {{ product.unitPrice | currency: "CAD" }}
                            </div>
                            <button
                                class="btn btn-primary btn-sm mt-1"
                                (click)="addToCart(product)"
                            >
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer-pagination">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9">
                                    <ngb-pagination
                                        [(page)]="pageNumber"
                                        [pageSize]="pageSize"
                                        [collectionSize]="totalElements"
                                        [maxSize]="5"
                                        [boundaryLinks]="true"
                                        (pageChange)="listProduct()"
                                    ></ngb-pagination>
                                </div>

                                <div class="col-md-mt-2">
                                    <span class="mr-2">Page Size</span>
                                    <select
                                        class="custom-select-sm"
                                        (change)="updatePageSize($event)"
                                    >
                                        >
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                        <option value="8" selected>8</option>
                                        <option value="16">16</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></ng-template
            ><ng-template #noProductsList>
                <div class="alert alert-warning col-md-12" role="alert">
                    <p>
                        <b>No results for {{ keyWord }}.</b>
                    </p>
                    Try checking your spelling or use more general terms
                </div></ng-template
            >
        </div>
    </div>
</div>
