<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="border border-success rounded-lg p-1 h-75">
                <div class="border border-success rounded-lg p-3 h-75">
                    <div class="alert alert-success col-md-12" role="alert">
                        <h2 class="text-success my-0">
                            <b>Thank you, your order has been placed.</b>
                        </h2>
                    </div>
                    <div class="px-3">
                        <h2 class="card-title font-weight-bold">
                            Order Detail:
                        </h2>
                        <ul class="mb-3">
                            <li class="card-text">
                                <p>
                                    Order number
                                    <span class="font-weight-bold">{{
                                        orderTracking
                                    }}</span>
                                </p>
                            </li>
                            <li class="card-text">
                                <p>
                                    2 items will be shipped to Westley Tan by
                                    EShopLite.
                                </p>
                                <p class="font-weight-bold">
                                    Estimated delivery: <span>5 - 7 days.</span>
                                </p>
                            </li>
                        </ul>
                        <a routerLink="/products" class="btn btn-primary btn-sm"
                            >Continue Shopping</a
                        >
                        <br />
                        <br />
                        <a routerLink="/profile"
                            >Review or edit your order<i
                                class="fas fa-arrow-right ml-2"
                            ></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
