<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid" *ngIf="cartStat$ | async as cartStat">
            <table
                class="table table-bordered"
                *ngIf="cartStat[0]?.length > 0; else noProductsList"
            >
                <tr>
                    <th width="20%">Product Image</th>
                    <th width="50%">Product Detail</th>
                    <th width="30%">Product Quantity</th>
                </tr>
                <tr *ngFor="let cart of cartStat[0]">
                    <td>
                        <img
                            [src]="hrk + cart.imageUrl"
                            [alt]="cart.name"
                            class="img-responsive"
                            width="150px"
                        />
                    </td>

                    <td>
                        <p>{{ cart.name }}</p>
                        <p>
                            Unit Price:
                            {{ cart.unitPrice | currency | unit }}
                        </p>
                    </td>

                    <td>
                        <p>Quantity:</p>
                        <div class="row no-gutters">
                            <div class="col text-center">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="incrementQuantity(cart)"
                                >
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="col text-center">
                                <p>{{ cart.quantity }}</p>
                            </div>
                            <div class="col text-center">
                                <button
                                    class="btn btn-primary btn-sm"
                                    (click)="decrementQuantity(cart)"
                                >
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <br />
                        <p>
                            Subtotal:
                            {{ cart.unitPrice * cart.quantity | currency }}
                        </p>
                        <button
                            class="btn btn-warning btn-sm mb-1"
                            (click)="removeCartItem(cart)"
                        >
                            Remove
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td class="font-weight-bold">
                        <p>Total Quantity: {{ cartStat[1] }}</p>
                        <p>
                            Total before tax:
                            {{ cartStat[2] | currency: "CAD" }}
                        </p>
                        <p>Shipping: Free</p>
                        <p>
                            Estimated GST/HST:
                            {{ cartStat[2] | tax | currency: "CAD" }}
                        </p>
                        <p>
                            <b>
                                Total Price:
                                {{
                                    cartStat[2] | tax: true | currency: "CAD"
                                }}</b
                            >
                        </p>
                        <a routerLink="/checkout" class="btn btn-success btn-sm"
                            >Checkout</a
                        >
                    </td>
                </tr>
            </table>

            <ng-template #noProductsList
                ><div class="alert alert-warning col-md-12" role="alert">
                    Your EShopLite cart is empty.
                </div></ng-template
            >
        </div>
    </div>
</div>
