<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li *ngFor="let c of productCategories$ | async">
                <a
                    [routerLink]="['/category', c.id, c.categoryName]"
                    routerLinkActive="active-link"
                    >{{ c.categoryName }}</a
                >
            </li>
        </ul>
    </nav>
</div>
