<div class="form-header">
    <input
        class="au-input au-input-xl"
        type="text"
        placeholder="Search for products ..."
        [(ngModel)]="search"
        (keyup.enter)="handleSearch()"
    />
    <button class="au-btn-submit" (click)="handleSearch()">Search</button>
</div>
