<div class="cart-area d-n">
    <a routerLink="/cart-details" *ngIf="cartStat$ | async as cartStat">
        <div class="total">
            {{ cartStat[2] | currency }} <span>{{ cartStat[1] }}</span>
        </div>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
</div>
