<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <!-- Customer Info -->
            <div formGroupName="customer" class="form-area">
                <h3>Customer</h3>

                <div class="row">
                    <div class="col-md-2">
                        <label>First Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="firstName" type="text" />
                            <div
                                *ngIf="firstName.invalid && firstName.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        firstName.errors.required ||
                                        lastName.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    First Name is required.
                                </div>
                                <div *ngIf="firstName.errors.minlength">
                                    First Name must be at least
                                    {{
                                        firstName.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Last Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="lastName" type="text" />
                            <div
                                *ngIf="lastName.invalid && lastName.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        lastName.errors.required ||
                                        lastName.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    Last Name is required.
                                </div>
                                <div *ngIf="lastName.errors.minlength">
                                    Last Name must be at least
                                    {{
                                        lastName.errors.minlength.requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Email</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="email" type="text" />
                            <div
                                *ngIf="email.invalid && email.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        email.errors.required ||
                                        email.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors.pattern">
                                    Email format must be a valid email address
                                    format.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shipping Address -->
            <div formGroupName="shippingAddress" class="form-area">
                <h3>Shippping Address</h3>

                <div class="row">
                    <div class="col-md-2">
                        <label>Country</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select
                                formControlName="country"
                                (change)="getStates('shippingAddress')"
                            >
                                <option
                                    *ngFor="let country of countries$ | async"
                                    [ngValue]="country"
                                >
                                    {{ country.name }}
                                </option>
                            </select>

                            <div
                                *ngIf="
                                    country_shipping.invalid &&
                                    country_shipping.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="country_shipping.errors.required">
                                    Country is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Street</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text" />
                            <div
                                *ngIf="
                                    street_shipping.invalid &&
                                    street_shipping.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        street_shipping.errors.required ||
                                        street_shipping.errors
                                            ?.notOnlyWhiteSpace
                                    "
                                >
                                    Street is required.
                                </div>
                                <div *ngIf="street_shipping.errors.minlength">
                                    Street must be at least
                                    {{
                                        street_shipping.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>City</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text" />
                            <div
                                *ngIf="
                                    city_shipping.invalid &&
                                    city_shipping.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        city_shipping.errors.required ||
                                        city_shipping.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    City is required.
                                </div>
                                <div *ngIf="city_shipping.errors.minlength">
                                    City must be at least
                                    {{
                                        city_shipping.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>State/Province</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="state">
                                <option
                                    *ngFor="
                                        let state of statesByCountryOnShipping$
                                            | async
                                    "
                                    [ngValue]="state"
                                >
                                    {{ state.name }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    state_shipping.invalid &&
                                    state_shipping.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="state_shipping.errors.required">
                                    State is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Postal Code</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="postalCode" type="text" />
                            <div
                                *ngIf="
                                    postalCode_shipping.invalid &&
                                    postalCode_shipping.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        postalCode_shipping.errors.required ||
                                        postalCode_shipping.errors
                                            .notOnlyWhiteSpace
                                    "
                                >
                                    Postal Code is required.
                                </div>
                                <div
                                    *ngIf="postalCode_shipping.errors.minlength"
                                >
                                    Postal Code must be at least
                                    {{
                                        postalCode_shipping.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Checkbox to copy same address -->
            <div class="input-space">
                <label class="au-checkbox"
                    ><input
                        type="checkbox"
                        (change)="copyShippingAddressToBillingAddress($event)"
                    />
                    <span class="au-checkmark"></span>Billing Address same as
                    Shipping Address
                </label>
            </div>

            <!-- Billing Address -->
            <div formGroupName="billingAddress" class="form-area">
                <h3>BillingAddress Address</h3>

                <div class="row">
                    <div class="col-md-2">
                        <label>Country</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select
                                formControlName="country"
                                (change)="getStates('billingAddress')"
                            >
                                <option
                                    *ngFor="let country of countries$ | async"
                                    [ngValue]="country"
                                >
                                    {{ country.name }}
                                </option>
                            </select>

                            <div
                                *ngIf="
                                    country_billing.invalid &&
                                    country_billing.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="country_billing.errors.required">
                                    Country is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Street</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text" />
                            <div
                                *ngIf="
                                    street_billing.invalid &&
                                    street_billing.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        street_billing.errors.required ||
                                        street_billing.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    Street is required.
                                </div>
                                <div *ngIf="street_billing.errors.minlength">
                                    Street must be at least
                                    {{
                                        street_billing.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>City</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text" />
                            <div
                                *ngIf="
                                    city_billing.invalid && city_billing.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        city_billing.errors.required ||
                                        city_billing.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    City is required.
                                </div>
                                <div *ngIf="city_billing.errors.minlength">
                                    City must be at least
                                    {{
                                        city_billing.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>State/Province</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="state">
                                <option
                                    *ngFor="
                                        let state of statesByCountryOnBilling$
                                            | async
                                    "
                                    [ngValue]="state"
                                >
                                    {{ state.name }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    state_billing.invalid &&
                                    state_billing.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="state_billing.errors.required">
                                    State is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Postal Code</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="postalCode" type="text" />
                            <div
                                *ngIf="
                                    postalCode_billing.invalid &&
                                    postalCode_billing.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        postalCode_billing.errors.required ||
                                        postalCode_billing.errors
                                            .notOnlyWhiteSpace
                                    "
                                >
                                    Postal Code is required.
                                </div>
                                <div
                                    *ngIf="postalCode_billing.errors.minlength"
                                >
                                    Postal Code must be at least
                                    {{
                                        postalCode_billing.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Credit Card Info -->
            <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3>

                <div class="row">
                    <div class="col-md-2">
                        <label>Card Type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="cardType">
                                <option value="visa">Visa</option>
                                <option value="master">Master</option>
                            </select>
                            <div
                                *ngIf="cardType.invalid && cardType.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="cardType.errors.required">
                                    Card Type is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Name on Card</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="nameOnCard" type="text" />
                            <div
                                *ngIf="nameOnCard.invalid && nameOnCard.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        nameOnCard.errors.required ||
                                        nameOnCard.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    Card Name is required.
                                </div>
                                <div *ngIf="nameOnCard.errors.minlength">
                                    Card Name must be at least
                                    {{
                                        nameOnCard.errors.minlength
                                            .requiredLength
                                    }}
                                    characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Card Number</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="cardNumber" type="text" />
                            <div
                                *ngIf="cardNumber.invalid && cardNumber.touched"
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="cardNumber.errors.required">
                                    Card Number is required.
                                </div>
                                <div
                                    *ngIf="
                                        cardNumber.errors.isValidCreditCard
                                            ?.notValid
                                    "
                                >
                                    Card Number must be valid card number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Security Code</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="securityCode" type="text" />
                            <div
                                *ngIf="
                                    securityCode.invalid && securityCode.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div
                                    *ngIf="
                                        securityCode.errors.required ||
                                        securityCode.errors?.notOnlyWhiteSpace
                                    "
                                >
                                    Security Code is required.
                                </div>
                                <div *ngIf="securityCode.errors.pattern">
                                    Security Code must be a 3-dig number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Expiration Month</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="expirationMonth">
                                <option
                                    *ngFor="
                                        let month of creditCardMonths$ | async
                                    "
                                    [ngValue]="month"
                                >
                                    {{ month }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    expirationMonth.invalid &&
                                    expirationMonth.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="expirationMonth.errors.required">
                                    Expiration Month is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Expiration Year</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select
                                formControlName="expirationYear"
                                (change)="handleExpirationDateReconciliation()"
                            >
                                <option
                                    *ngFor="
                                        let year of creditCardYears$ | async
                                    "
                                    [ngValue]="year"
                                >
                                    {{ year }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    expirationYear.invalid &&
                                    expirationYear.touched
                                "
                                class="alert alert-danger mt-1"
                            >
                                <div *ngIf="expirationYear.errors.required">
                                    Expiration Year is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order Detail -->
            <div class="form-area" *ngIf="cartStat$ | async as cartStat">
                <h3>Review Your Order</h3>

                <p>Total Quantity: {{ cartStat[1] }}</p>
                <p>
                    Total before tax:
                    {{ cartStat[2] | currency: "CAD" }}
                </p>
                <p>Shipping: Free</p>
                <p>
                    Estimated GST/HST:
                    {{ cartStat[2] | tax | currency: "CAD" }}
                </p>
                <p>
                    <b>
                        Total Price:
                        {{ cartStat[2] | tax: true | currency: "CAD" }}</b
                    >
                </p>
            </div>

            <!-- Submit action -->
            <div class="text-center">
                <button class="btn btn-info">Purchase</button>
            </div>
        </form>
    </div>
</div>
